html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
}

.headerPart {
  height: 7rem;
  width: 100%;
  display: flex;
  /* background-color: #ffffff; */
  color: white;
  margin: 0;
  /* box-shadow: 0rem 0rem 1rem 0.01rem #dedede; */
  position: absolute;
  z-index: 1;
}

.headerName {
  margin-top: 1.2rem;
  font-size: 2.8rem;
  position: absolute;
  margin-left: 4.6%;
  font-family: Times, Serif;
}

.newTempDivForDesign {
  margin: 0px;
  background-color: white;
  height: 6rem;
  width: 1.3%;
  margin-right: -5rem;
}

.subHeaderName {
  margin-top: 0;
}

.sloganText {
  display: block;
  margin-left: 5rem;
}

.headerTextDiv {
  height: 6.0rem;
  width: 20%;
  margin: 0;
  background-color: black;
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  border-bottom: 0.5rem solid black;
}

.headerBackground {
  height: 6rem;
  width: 80%;
  background-color: #ffffff;
  /* margin: 0; */
  margin-left: -2.5rem;
  box-shadow: 0rem 0rem 1rem 0.01rem #dedede;
  clip-path: polygon(2.3% 0%, 100% 0, 100% 100%, 0% 100%);
}

.tempDivForDesign {
  height: 5.5rem;
  width: 95%;
  border-bottom: 0.4rem solid #61dafb;
  /* margin: 0; */
  /* background-color: black; */
  -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
}

.mainBodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f0f2f5;
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65.6%;
  background-color: white;
  box-shadow: 0.05rem 0.05rem 0.8rem 0.01rem #ececec;
  margin-top: 8rem;
  border-radius: 1rem;
}

.bodyDivChild {
  display: flex;
  flex-direction: column;
  min-height: 10rem;
  width: 60%;
  margin-top: 5rem;
  border-bottom: 0.1rem solid black;
  position: relative;
}

.todoTaskBar {
  display: flex;
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  width: initial;
  height: 3.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.todoTitleDiv {
  height: 3.5rem;
  width: 40rem;

}

.todoTaskDescription {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-top: 2rem;
  width: initial;
  height: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-bottom: 1rem;
  min-height: 3.5rem;
}

.showTodoTime {
  font-size: 1.5rem;
  height: 3.5rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eeeeee;
  box-shadow: 0rem 0rem 0.2rem 0.01rem #d2d2d2;
  transition: width 0.5s;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}

/* Form Styling */

.getDetailsMainDiv {
  margin-bottom: 5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.getDetailsMainChid {
  width: 37rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: 0rem 0rem 0.2rem 0.01rem #989898; */
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.getDetailsMainDivChild {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 3rem 4rem 3rem;
}

input[type=text],
input[type=datetime-local],
input[type=email],
input[type=number] {
  width: 28rem;
  background-color: white;
  margin-top: 2rem;
  height: 3rem;
  border: 0.1rem solid #c5c5c5;
  border-radius: 0.5rem;
  padding-left: 2rem;
  transition: box-shadow 0.5s;
  font-family: 'Titillium Web', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

#taskDesc {
  padding-top: 1rem;
  border-radius: 0.5rem;
  width: 28rem;
  overflow: hidden;
  resize: none;
  padding-left: 2rem;
  font-family: 'Titillium Web', sans-serif;
  height: 3rem;
  border: 0.1rem solid #c5c5c5;
}

.dataSubmit {
  background-color: #1b61bf;
  border-radius: 0.5rem;
  width: 30rem;
  height: 4rem;
  color: white;
  border: none;
  box-shadow: 0rem 0rem 0.4rem 0.01rem #667d9c;
  margin-top: 2rem;
  font-size: 1.5rem;
  transition: background-color 0.5s;
  font-family: 'Titillium Web', sans-serif;
  cursor: pointer;
}

.createTodo {
  font-family: 'Secular One', sans-serif;
  font-size: 3rem;
  height: 12rem;
  color: #61dafb;
  width: 34rem;
  padding-left: 3rem;
  background-color: #20232a;
}

.getDetailsText {
  margin-top: 6rem;
}

.warningDiv {
  font-size: 1.5rem;
  color: red;
  width: 100%;
  text-align: center;
  background-color: #ffe1e1;
  font-family: 'Kanit', sans-serif;
  padding-top: 0.5rem;
}

/* Footer Css*/
.ffo {
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  box-shadow: 0 0 0 0.1rem white;
}

footer .lococo a {
  text-decoration: none;
  margin-bottom: 5rem;
  color: white;
}

footer {
  height: 25rem;
  justify-content: center;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  flex-direction: column;
  background-color: rgb(15, 15, 15);
}

.lococo {
  display: flex;
  margin-top: 9rem;
}

.lopo {
  font-size: 150%;
  margin-bottom: 3rem;
  width: 5rem;
}

#ffo1:hover {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0%;
  margin-top: 0;
  box-shadow: none;
}

#ffo2:hover {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0%;
  margin-top: 0;
  box-shadow: none;
}

#ffo3:hover {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0%;
  margin-top: 0;
  box-shadow: none;
}

#ffo4:hover {
  height: 4.5rem;
  width: 4.5rem;
  margin: 0%;
  margin-top: 0;
  box-shadow: none;
}

.navbarHead {
  display: flex;
  height: 10rem;
  width: 100%;
  justify-content: center;
}

.navbarHeadChild {
  width: 60%;
  margin-top: 5rem;
}

ul {
  list-style-type: none;
  display: flex;
  border-bottom: 0.2rem solid black;
}

ul a {
  text-decoration: none;
  color: #000000;
  margin-left: 4rem;
}

.navbarlists ul li {
  margin-right: 1rem;
  font-size: 1.8rem;
  cursor: pointer;
  font-family: 'Metropolis-Regular', "Segoe UI", Helvetica Neue, Helvetica, sans-serif;
  line-height: 36px;
  color: #000000;
  -webkit-transition: 0.15s;
  -o-transition: 0.15s;
  transition: 0.15s;
  padding: 0.4rem 3rem 0rem 1.5rem;
  border-top-right-radius: 0.5rem;
  /*border-bottom-left-radius: 0.5rem;*/
  font-family: 'Kanit', sans-serif;
  width: inherit;
}

/* Icon Styling Or Task Modifier Styling*/

.iconHead {
  display: flex;
  font-size: 2rem;
  width: 5rem;
  height: 3.5rem;

}

.iconChild {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.transIcon {
  transition: margin-top 0.5s;
  margin: 0;
  margin-top: -2rem;
}

.todoModifier {
  padding-right: 1rem;
  display: flex;
  flex-direction: row;
  height: 3.5rem;
  width: 23rem;
  position: absolute;
  margin-top: 5rem;
  right: 0;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  font-family: 'Rubik', sans-serif;
  visibility: hidden;
  transition: opacity 0.5s;
}

.todoModifierButtons {
  border-radius: 0.5rem;
  height: 3.5rem;
  width: 10rem;
  box-shadow: 0rem 0rem 0.2rem 0.01rem #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoDone:hover {
  background-color: #067e52;
}

.todoDone {
  background-color: #04AA6D;
  cursor: pointer;
  transition: background-color 0.5s;
}


.todoDelete {
  background-color: #ff0000;
  cursor: pointer;
}

.taskCompletedSign {
  height: 3.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 'User' Component Styling, Some Elements Of 'User' Component Is Copied From GetTodoDetails 'Component'*/
.detailListHead {
  width: 35rem;
  height: 4rem;
  overflow: hidden;
  border-radius: 0.5rem;
  transition: height 0.5s;
  box-shadow: 0 0 0.3rem 0.01rem #efefef;
  margin-bottom: 2rem;
}

.detailChild {
  width: 33rem;
  height: 3rem;
  font-size: 1.8rem;
  padding: 1rem 0rem 0rem 2rem;
  color: #5091f1;
  font-family: 'Titillium Web', sans-serif;
  background-color: #f0f2f5;
  /*#1b71ed    #e7f3ff*/
}

.detailAns {
  font-size: 1.4rem;
  height: 2rem;
  width: 33rem;
  padding: 1rem 0rem 0rem 2rem;
  font-family: 'Acme', sans-serif;
  background-color: #e7f3ff;
  color: #1b71ed;

}

/* Error 404 Error Page Styling*/

.div1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.div2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.err1 {
  font-size: 8rem;
  font-family: "Archivo Black", sans-serif;
}

.err1 h1 {
  margin: 0%;
  background: -webkit-linear-gradient(#eee, #3f8bf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.message1 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.2rem;
  color: #535765;
  font-size: 2rem;
}

.op40 h1 {
  position: relative;
  animation: mova1 1s infinite;
}

@keyframes mova1 {
  from {
    left: -1rem;
  }

  to {
    left: auto;
  }
}

.op41 h1 {
  position: relative;
  animation: mova11 0.5s infinite;
}

@keyframes mova11 {
  from {
    left: -1rem;
  }

  to {
    left: auto;
  }
}

.op42 h1 {
  position: relative;
  animation: mova111 0.8s infinite;
}

@keyframes mova111 {
  from {
    left: -1rem;
  }

  to {
    left: auto;
  }
}

.offlineSvg {
  width: 75%;
  margin-top: 5rem;
}

.errorDiv {
  width: 75%;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.errorText {
  font-size: 3rem;
  font-weight: bold;
  padding-left: 1rem;
}

.errorText:hover {
  background-color: #ffc5c5;
  box-shadow: 0rem 0rem 0.5rem 0.01rem #bfbfbf;
  transition: background-color 0.5s;
  transition: background-color 0.5s linear 0.2s;
}

@media only screen and (max-width: 500px) {
  .err1 {
    font-size: 6rem;
  }

  .message1 {
    letter-spacing: 0.2rem;
    font-size: 1.3rem;
  }
}


/* Media Queries For Responsiveness */

@media only screen and (max-width: 1650px) {
  .headerTextDiv {
    width: 25%;
  }

  .headerBackground {
    width: 75%;
  }

  .newTempDivForDesign {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .bodyDiv {
    width: 75%;
  }

  .bodyDivChild {
    width: 70%;
  }

  .headerBackground {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .headerTextDiv {
    width: 30%;
  }
}

@media only screen and (max-width: 1150px) {
  .bodyDiv {
    width: 85%;
  }

  .bodyDivChild {
    width: 80%;
  }
}

@media only screen and (max-width: 950px) {
  .navbarHead {
    height: 11rem;
  }

  .navbarHeadChild {
    width: 70%;
    margin-top: 6rem;
  }

  .headerTextDiv {
    width: 35%;
  }
}

@media only screen and (max-width: 900px) {
  .bodyDiv {
    width: 95%;
  }

  .bodyDivChild {
    width: 90%;
  }
}

@media only screen and (max-width: 800px) {
  .headerTextDiv {
    width: 40%;
  }
}

@media only screen and (max-width: 750px) {
  .navbarHeadChild {
    width: 80%;
  }
}

@media only screen and (max-width: 700px) {
  .navbarHeadChild {
    width: 90%;
  }

  .todoTaskBar {
    font-size: 2rem;
  }

  .todoTitleDiv {
    width: 31rem;
  }

  .headerName {
    font-size: 2.5rem;
  }

  .tempDivForDesign {
    height: 5rem;
  }

  .headerTextDiv {
    height: 5.5rem;
  }

  .getDetailsMainDiv {
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .headerTextDiv {
    width: 50%;
  }

  ul a {
    margin-left: 0;
  }

  ul {
    margin: 0;
    flex-direction: column;
    margin-left: -4rem;
  }

  .navbarlists ul li {
    margin-right: 0;
    padding-right: 0;
    border-radius: 0;
    padding-left: 20%;
  }

  .navbarHead {
    width: 100%;
    height: 7rem;
    transition: height 0.5s;
    overflow: hidden;
  }

  .navbarHeadChild {
    width: 100%;
    margin-top: 7rem;
  }


  .todoTaskBar {
    font-size: 2rem;
    height: 8rem;
  }

  .taskCompletedSign {
    width: 19%;
  }

  .showTodoTime {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .iconHead {
    margin-top: 1rem;
  }

  .todoModifier {
    margin-top: 9rem;
    width: 21rem;
  }

  .newTempDivForDesign {
    margin-left: 5rem;
    color: black;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerPart {
    justify-content: space-between;
  }

  .newTempDivForDesign {
    width: auto;
    margin-right: 3rem;
    margin-left: 0;
  }
}

@media only screen and (max-width: 450px) {
  .taskCompletedSign {
    width: 2.5rem;
  }

  .iconHead {
    width: 2.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .headerTextDiv {
    width: 60%;
  }
}

@media only screen and (max-width: 410px) {
  .getDetailsMainChid {
    width: 33rem;
  }

  .createTodo {
    width: 31rem;
    padding-left: 2rem;
    font-size: 2.6rem;
  }

  .getDetailsMainDivChild {
    padding: 5rem 1.5rem 4rem 1.5rem;
  }

  .detailListHead {
    width: 31rem;
  }
}

@media only screen and (max-width: 390px) {
  .headerTextDiv {
    width: 65%;
  }

  .taskCompletedSign,
  .iconHead {
    width: 2rem;
  }

}

@media only screen and (max-width: 386px) {
  .todoTaskBar {
    font-size: 1.8rem;
  }

  .todoTitleDiv {
    width: 28rem;
  }

  .todoTaskDescription {
    font-size: 1.3rem;
  }
}

/* Service COmponent Styling */

.inpRadioHead {
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.5rem;
  height: 3rem;
  width: 27rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.infoOfServe {
  width: 15.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.3rem;
  font-family: 'Balsamiq Sans', cursive;
  justify-content: space-between;
}

.serveInfoChild {
  transition: width 0.2s;
  width: 0rem;
  padding-left: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.showInfoIcon i {
  transition: transform 0.5s;
  cursor: pointer;

}

.logoutBut {
  background-color: rgb(237 18 18);
  width: 10rem;
  height: 3.5rem;
}